@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 150px;
}

main {
    padding: 16px;
    padding-left: 90px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 30px;
    padding-right: 0;
    background-color: #44803F;
    font-size: 120%;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    padding: 16px;
    background-color: #146152;
}

.ingredients tr:nth-child(even) {
    background-color: lightgray;
}

.link:hover {
    color: green;
}

a {
    text-decoration: none;
    color: #FFEC5C;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

h1 {
    color: #b4cf66;
}

.pic:hover {
    transition: 0.0005s ease;
    transform: scale(1.1);
}

.shadow:hover {
    transition: 0.0005s ease;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
